.data-table {
  width: 100%;

  table {
    width: 100%;

    button {
      ::ng-deep {
        span {
          pointer-events: none;
        }
      }
    }
  }

  mat-form-field {
    width: 100%;
  }
}
