<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.favorites.title' | translate }}</h1>

    <div class="data-table">
      <table mat-table [dataSource]="favorites$" (click)="listenAddToFavoriteClick($event)">
        <ng-container matColumnDef="favoriteType">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell
              *matCellDef="let favorite"
          >{{ (favorite.orderId && 'Order') || (favorite.patientId && 'Patient') }}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let favorite">{{ favorite.patientId || favorite.orderId }}</td>
        </ng-container>

        <ng-container matColumnDef="addToFavorites">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let favorite">
            <button mat-mini-fab [attr.data-item-id]="favorite.patientId || favorite.orderId">
              <span>&#9733;</span>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="['favoriteType', 'id', 'addToFavorites']"
        ></tr>
        <tr mat-row
            *matRowDef="let row; columns: ['favoriteType', 'id', 'addToFavorites']"
        ></tr>
      </table>
    </div>
  </div>
</div>
